/* Write your CSS here */
.project-card-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.image {
  height: 50vh;
}
.project-row-container {
  display: flex;
  justify-content: space-between;
}
.project-title {
  font-family: 'Roboto';
  color: #1e293b;
}
.duration-row-container {
  display: flex;
  align-items: center;
}
.project-duration {
  margin-left: 3px;
  font-family: 'Roboto';
  color: #171f46;
}
.project-description {
  color: #171f46;
  font-size: 'Roboto';
  margin: 0px;
  font-weight: 600;
}
.project-url {
  text-decoration: none;
  font-weight: 600;
  font-family: 'Roboto';
}
